<!DOCTYPE html>
<html ng-app="main">
<head>
  <title>8 Bit Music Maker</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body ng-controller="soundController">
  <form ng-submit="playSong(leftValue, $event, oscillatorLeft, gainLeft); playSong(rightValue, $event, oscillatorRight, gainRight)">
    <input type="text" class="leftBar" ng-model="leftValue" placeholder="Left" />
    <input type="text" class="rightBar" ng-model="rightValue" placeholder="Right" />
    <button type="submit" class="submitButton">Play</button>
  </form>
  <div class="d3holder">
    <d3orbs class="orb"
    ng-repeat="notes in notesData"
    ng-mousedown="startNote($event, undefined, oscillatorLeft, gainLeft)"
    ng-mouseup="stopNote($event, oscillatorLeft, gainLeft)"
    >
    </d3orbs>
  </div>


  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/band.js/dist/band.min.js"></script>
  <script type="text/javascript" src="d3helper.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>