<!DOCTYPE html>
<html ng-app="main">
<head>
  <title>8 Bit Music Maker</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body ng-controller="soundController">
  <form ng-submit="playSong(value, $event)">
    <input type="text" class="inputBar" ng-model="value" placeholder="E5 E5 E5 C5 E5 G5 G4" />
    <!-- need to create scrollDown function -->
    <button type="submit" class="submitButton" ng-click="scrollDown()">Play</button>
  </form>
  <div class="d3holder">
    <d3orbs class="orb"
    ng-repeat="notes in notesData"
    ng-mousedown="startNote($event)"
    ng-mouseup="stopNote($event)"
    >
    </d3orbs>
  </div>


  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="node_modules/underscore/underscore.js"></script>
  <script type="text/javascript" src="bower_components/band.js/dist/band.min.js"></script>
  <script type="text/javascript" src="d3helper.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>