<!DOCTYPE html>
<html ng-app="main">
<head>
  <title>8 Bit Music Maker</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body ng-controller="sound">
  <form ng-submit="playSong(value)">
    <input type="text" class="inputBar" ng-model="value" placeholder="E5 E5 E5 C5 E5 G5 G4"></input>
    <input type="submit" value="Play"></submit>
  </form>
  <d3orbs class="orb"
  ng-repeat="notes in notesData"
  ng-mousedown="startNote()"
  ng-mouseup="stopNote()">
  </d3orbs>


  <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="d3helper.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>